page-voice-calculator {
  .content{
    background-color: #3D4654;
  }
  .item{
    background-color: #3D4654;
  }
  #lable{
    color: white;
  }
  #placeholder{
    color: white;
  }
  .icon{
    color :white;
  }
  .customBtn{
    width:50px;
  }
}
