page-menu {
  .content{
    background-color: #3D4654;
  }
  .item{
    background-color: #3D4654;
  }
  #lable{
    color: white;
  }
  #placeholder{
    color: white;
  }
  .icon{
    color : #FFE066;
  }
  #p{
    color: white;
  }
}
